@model MVC.Models.IlanViewModel

@{ ViewBag.Title = "Details";
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">


<!-- Page title -->
<div class="page-title style2">
    @*<div class="flat-maps">
            <div class="maps2" style="width: 100%; height: 268px; "></div>
        </div>*@

    <!--<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-pagetitle">
                    <div class="flat-pagetitle">
                        <div class="page-title-heading">
                            <h1 class="title">@Model.Baslik</h1>
                        </div>-->
    <!-- /.page-title-captions -->
    <!--<div class="breadcrumbs style2">
        <ul>
            <li><i class="ion-ios-location-outline"></i>@Model.yer</li>
        </ul>
    </div>-->
    <!-- /.breadcrumbs -->
    <!--</div>
        </div>
    </div>-->
    <!-- /.col-md-12 -->
    <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container -->
    <!--</div>--><!-- /.page-title -->
    <!-- Blog posts -->

    <section class="main-content page-listing">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="listing-wrap">
                        <h3 class="title-listing">@Model.Baslik</h3>

                        <div class="tf-gallery">
                            <div id="tf-slider">
                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides">
                                        <li style=" float: left; display: block; text-align: center;">
                                            <img src="@Model.imageUrl_M" alt="image" style="max-width: 100%; height: auto; margin: 0 auto;" draggable="false">
                                            <div class="image-info">
                                                <p class="model">@Model.model</p>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <!--<div class="tf-gallery">
                        <div id="tf-slider">
                            <ul class="slides">
                                <li>
                                    <img src=@Model.imageUrl_M alt="image">
                                </li>-->
                        @*<li>
                            <img src=@Model.imageUrl_M alt="image">
                            </li>
                            <li>
                            <img src=@Model.imageUrl_M alt="image">
                            </li>
                            <li>
                            <img src=@Model.imageUrl_M alt="image">
                            </li>*@
                        <!--</ul>
                            </div>

                            <div id="tf-carousel">
                                <ul class="slides">
                                    <li>
                                        <img src=@Model.imageUrl_M alt="image">
                                    </li>
                                    <li>
                                        <img src=@Model.imageUrl_M alt="image">
                                    </li>
                                    <li>
                                        <img src=@Model.imageUrl_M alt="image">
                                    </li>
                                </ul>
                            </div>
                        </div>-->


                        <div class="content-listing">
                            <div class="text">

                                <div class="features">
                                    <div class="feature-header">
                                        <h2>@Model.fiyat.ToString("N0")TL</h2>
                                        <a href="#">% Kredi Teklifi Al</a>
                                    </div>
                                    <div class="feature-location">
                                        <span>@Model.yer</span>
                                    </div>
                                    <ul class="feature-list">
                                        <li><span>İlan No:</span> <span>@Model.IlanNo</span></li>
                                        <li><span>İlan Tarihi:</span> <span>@Model.tarih.ToString("dd/MM/yyyy")</span></li>
                                        <li><span>Model:</span> <span>@Model.model</span></li>
                                        <li><span>Yıl:</span> <span>@Model.modelYili</span></li>
                                        <li><span>KM:</span> <span>@Model.km.ToString("N0")</span></li>
                                        <li><span>Renk:</span> <span>@Model.renk</span></li>
                                        <li><span>Plaka / Uyruk:</span> <span>Türkiye (TR) Plakalı</span></li>
                                        @* <li><span>Kimden:</span> <span>@Model.KaynakId</span></li>*@
                                    </ul>
                                </div>
                                <ul class="rating-listing">
                                    <li>
                                        <div class="start-review">
                                            <span class="flat-start">
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                                <i class="ion-ios-star"></i>
                                            </span>
                                            <span class="like"> ( 3 reviewers )</span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="heart">
                                            <i class="ion-android-favorite-outline"></i>
                                            <span>3</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="social-links">
                                            <span>Share:</span>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            @*<h3 class="title-listing">Features</h3>
                            <div class="wrap-list clearfix">
                                <ul class="list float-left">
                                    <li><span><i class="fa fa-check"></i></span>Booking online</li>
                                    <li><span><i class="fa fa-check"></i></span>Free ship</li>
                                </ul>
                                <ul class="list float-left">
                                    <li><span><i class="fa fa-check"></i></span>Booking online</li>
                                    <li><span><i class="fa fa-check"></i></span>Booking online</li>
                                </ul>
                            </div>*@
                        </div>
                    </div><!-- /.listing-wrap -->
                </div><!-- /.col-lg-9 -->
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="widget widget-contact">
                            <h3 class="widget-title">İletişime Geç</h3>
                            <ul>
                                <li class="adress">PO Box 16122 Collins Street West Türkiye</li>
                                <li class="phone">+39 351 554 7091</li>
                                <li class="email">berkaytuncer.ceng@gmail.com</li>
                                <li class="time">
                                    <span>Pt - Pe:</span> 8:00 am - 10:00 pm<br>
                                    <span>Cu - Ct:</span> 10:00 am - 1:00 am<br>
                                    <span>Pa: </span> 10:00 am - 10:00 pm
                                </li>
                            </ul>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class=" widget widget-form">
                            <h3>Mesaj Gönder</h3>
                            <form novalidate="" class="book-form clearfix" id="bookform" method="post" action="#">
                                <div class="form-group">
                                    @*<div class='input-group date' id='datetimepicker1'>
                    <div class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>*@
                                    <p class="book-notes">
                                        <input type="text" placeholder="Ad" name="author" required="">
                                    </p>
                                    <p class="book-form-email">
                                        <input type="email" placeholder="E-mail" name="email" required="">
                                    </p>
                                    <p class="book-form-email">
                                        <input type="email" placeholder="Telefon" name="phone" required="">
                                    </p>
                                    <p class="book-form-book">
                                        <textarea class="" tabindex="4" placeholder="Mesaj" name="book" required=""></textarea>
                                    </p>
                                    <p class="form-submit text-center">
                                        <button class="book-submit effect-button">Gönder</button>
                                    </p>
                                </div>

                            </form>
                        </div>

                    </div><!-- /.sidebar -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="flat-row v1 bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-section">
                        <h1 class="title">Newsletter</h1>
                        <div class="sub-title">
                            Subscribe now and receive weekly newsletter with
                        </div>
                    </div>
                    <form id="subscribe-form" class="flat-mailchimp" method="post" action="#" data-mailchimp="true">
                        <div class="field clearfix" id="subscribe-content">
                            <p class="wrap-input-email">
                                <input type="text" tabindex="2" id="subscribe-email" name="subscribe-email" placeholder="Your Email Here">
                            </p>
                            <p class="wrap-btn">
                                <button type="button" id="subscribe-button" class=" subscribe-submit effect-button" title="Subscribe now">SUBSCRIBE</button>
                            </p>
                        </div>
                        <div id="subscribe-msg"></div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <div class="flat-counter text-center">
                        <div class="content-counter">
                            <div class="icon-count">
                                <i class="ion-waterdrop"></i>
                            </div>
                            <div class="name-count">Listing</div>
                            <div class="numb-count" data-to="1897" data-speed="2000" data-waypoint-active="yes">1897</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="flat-counter text-center">
                        <div class="content-counter">
                            <div class="icon-count">
                                <i class="ion-pricetags"></i>
                            </div>
                            <div class="name-count">Categories</div>
                            <div class="numb-count" data-to="967" data-speed="2000" data-waypoint-active="yes">967</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="flat-counter text-center">
                        <div class="content-counter">
                            <div class="icon-count">
                                <i class="ion-ios-people"></i>
                            </div>
                            <div class="name-count">Users</div>
                            <div class="numb-count" data-to="1101" data-speed="2000" data-waypoint-active="yes">1101</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/tether.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/jquery.easing.js"></script>
    <script src="javascript/jquery-waypoints.js"></script>
    <script src="javascript/jquery-countTo.js"></script>
    <script src="javascript/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUIc2-TTbn2IGJ4W0_0ePkv3xBvA_2sCM&region=GB"></script>
    <script src="javascript/jquery.cookie.js"></script>
    <script src="javascript/bootstrap-datetimepicker.js"></script>
    <script src="javascript/bootstrap-datetimepicker.fr.js"></script>
    <script src="javascript/jquery.flexslider-min.js"></script>

    <script src="javascript/parallax.js"></script>
    <script src="javascript/smoothscroll.js"></script>

    <script src="javascript/main.js"></script>
