@model MVC.Models.IlanViewModel

@{ ViewBag.Title = "Details";
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">


<!-- Page title -->
<div class="page-title style2">
    @*<div class="flat-maps">
        <div class="maps2" style="width: 100%; height: 268px; "></div>
    </div>*@

    <!--<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-pagetitle">
                    <div class="flat-pagetitle">
                        <div class="page-title-heading">
                            <h1 class="title">@Model.Baslik</h1>
                        </div>--><!-- /.page-title-captions -->
                        <!--<div class="breadcrumbs style2">
                            <ul>
                                <li><i class="ion-ios-location-outline"></i>@Model.yer</li>
                            </ul>
                        </div>--><!-- /.breadcrumbs -->
                    <!--</div>
                </div>
            </div>--><!-- /.col-md-12 -->
        <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container -->
<!--</div>--><!-- /.page-title -->
<!-- Blog posts -->
<section class="main-content page-listing">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="listing-wrap">
                    <div class="tf-gallery">
                        <div id="tf-slider">
                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides">
                                    <li style="width: 100%; float: left; display: block; text-align: center;">
                                        <img src="@Model.imageUrl_M" alt="image" style="max-width: 100%; height: auto; margin: 0 auto;" draggable="false">
                                        <div class="image-info">
                                            <p class="model">@Model.model</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!--<div class="tf-gallery">
    <div id="tf-slider">
        <ul class="slides">
            <li>
                <img src=@Model.imageUrl_M alt="image">
            </li>-->
                    @*<li>
        <img src=@Model.imageUrl_M alt="image">
        </li>
        <li>
        <img src=@Model.imageUrl_M alt="image">
        </li>
        <li>
        <img src=@Model.imageUrl_M alt="image">
        </li>*@
                    <!--</ul>
        </div>

        <div id="tf-carousel">
            <ul class="slides">
                <li>
                    <img src=@Model.imageUrl_M alt="image">
                </li>
                <li>
                    <img src=@Model.imageUrl_M alt="image">
                </li>
                <li>
                    <img src=@Model.imageUrl_M alt="image">
                </li>
            </ul>
        </div>
    </div>-->
                    
                       
                    <div class="content-listing">
                        <div class="text">
                            <h3 class="title-listing">@Model.Baslik</h3>
                            <ul class="rating-listing">
                                <li>
                                    <div class="start-review">
                                        <span class="flat-start">
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                        </span>
                                        <span class="like"> ( 3 reviewers )</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="heart">
                                        <i class="ion-android-favorite-outline"></i>
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="social-links">
                                        <span>Share:</span>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <div class=" features">
                                <ul>
                                    <li>Model: @Model.model</li>
                                    <li>Model Yılı: @Model.modelYili</li>
                                    <li>İlan Tarihi: @Model.tarih</li>
                                    <li>Renk: @Model.renk</li>
                                    <li></li>

                                </ul>
                            </div>
                        </div>
                        <h3 class="title-listing">Features</h3>
                        <div class="wrap-list clearfix">
                            <ul class="list float-left">
                                <li><span><i class="fa fa-check"></i></span>Booking online</li>
                                <li><span><i class="fa fa-check"></i></span>Free ship</li>
                            </ul>
                            <ul class="list float-left">
                                <li><span><i class="fa fa-check"></i></span>Booking online</li>
                                <li><span><i class="fa fa-check"></i></span>Booking online</li>
                            </ul>
                        </div>
                        <!--<div class="list-tab">
        <h3 class="title-listing">Our Menu</h3>
        <div class="flat-tabs" data-effect="fadeIn">
            <ul class="menu-tab clearfix">
                <li class="active"><a href="#">Vegetarian</a></li>
                <li class=""><a href="#">Tacos</a></li>
                <li class=""><a href="#">Burritos</a></li>
                <li class=""><a href="#">Specialties</a></li>
                <li class=""><a href="#">Breakfast</a></li>
            </ul>-->
                        <!-- /.menu-tab -->
                        <!--<div class="content-tab">
            <div class="content-inner active">
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t1.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Nellara</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $10.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t2.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Quesarito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $2.49
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t3.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">XXL Grilled Stuft Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t4.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Cantina Power Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.79
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t4.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Cantina Power Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $7.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t2.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Quesarito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $5.49
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t3.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">XXL Grilled Stuft Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $14.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t1.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Nellara</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $5.79
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t3.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Nellara</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $15.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t2.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Quesarito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $2.49
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t1.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">XXL Grilled Stuft Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t4.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Cantina Power Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.79
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t4.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">food puttu</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $12.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t2.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Quesarito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $6.49
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t3.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">XXL Grilled Stuft Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t4.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Cantina Power Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.79
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t1.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Nellara</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $10.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t2.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Quesarito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $2.49
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t3.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">XXL Grilled Stuft Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.99
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="menu-food clearfix">
                    <div class="featured-food float-left">
                        <span class="effect"><img src="images/services/t4.jpg" alt=""></span>
                    </div>
                    <div class="content-food float-left">
                        <h5><a href="#">Cantina Power Burrito</a></h5>
                        <p>Late evening craving for some comfort food led me to this place. In this case, my humble state food puttu or steamed rice cake </p>
                    </div>
                    <div class="rate-food float-right">
                        <div class="price">
                            $3.79
                        </div>
                        <div class="flat-start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
                        <!-- /.content-tab -->
                        <!--</div>
        </div>-->
                        <!--<div class="list-comment">
        <h3 class="title-listing">2 Reviews</h3>
        <div class="comments-area">
            <ol class="comment-list">
                <li class="comment">
                    <article class="comment-body clearfix">
                        <div class="comment-author">
                            <img src="images/services/c1.png" alt="image">
                        </div>-->
                        <!-- .comment-author -->
                        <!--<div class="comment-text">
        <div class="comment-metadata">
            <h5><a href="#">Admin</a></h5>
            <p class="day">12/01/2017</p> <div class="flat-start">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>-->
                        <!-- .comment-metadata -->
                        <!--<div class="comment-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        </div>-->
                        <!-- .comment-content -->
                        <!--</div>--><!-- /.comment-text -->
                        <!--</article>--><!-- .comment-body -->
                        <!--</li>--><!-- #comment-## -->
                        <!--<li class="comment">
        <article class="comment-body clearfix">
            <div class="comment-author">
                <img src="images/services/c2.png" alt="image">
            </div>-->
                        <!-- .comment-author -->
                        <!--<div class="comment-text">
        <div class="comment-metadata">
            <h5><a href="#">Admin</a></h5>
            <p class="day">12/01/2017</p> <div class="flat-start">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>-->
                        <!-- .comment-metadata -->
                        <!--<div class="comment-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        </div>-->
                        <!-- .comment-content -->
                        <!--</div>--><!-- /.comment-text -->
                        <!--</article>--><!-- .comment-body -->
                        <!--</li>--><!-- #comment-## -->
                        <!--<li class="comment">
        <article class="comment-body clearfix">
            <div class="comment-author">
                <img src="images/services/c3.png" alt="image">
            </div>-->
                        <!-- .comment-author -->
                        <!--<div class="comment-text">
        <div class="comment-metadata">
            <h5><a href="#">Admin</a></h5>
            <p class="day">12/01/2017</p> <div class="flat-start">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>-->
                        <!-- .comment-metadata -->
                        <!--<div class="comment-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        </div>-->
                        <!-- .comment-content -->
                        <!--</div>--><!-- /.comment-text -->
                        <!--</article>--><!-- .comment-body -->
                        <!--</li>--><!-- #comment-## -->
                        <!--</ol>--><!-- .comment-list -->
                        <!--<div class="comment-respond" id="respond">
            <h3 class="title-listing">Add a Review</h3>
            <form novalidate="" class="comment-form clearfix" id="commentform" method="post" action="#">
                <div class="wrap-input clearfix">
                    <p class="comment-notes">
                        <input type="email" placeholder="Your Email" size="30" value="" name="email">
                    </p>
                    <p class="comment-form-email">
                        <input type="text" placeholder="Your Name" aria-required="true" name="title">

                    </p>
                </div>
                <p class="comment-form-comment">
                    <textarea class="" tabindex="4" placeholder="Preview" name="comment" required></textarea>
                </p>
                <div class="start-review">
                    <span class="flat-start">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                    <span> ( Your rating )</span>
                </div>
                <p class="form-submit">
                    <button class="comment-submit effect-button">Send Review</button>
                </p>
            </form>
        </div>-->
                        <!-- /.comment-respond -->
                        <!--</div>--><!-- /.comments-area -->
                        <!--</div>-->

                    </div>
                </div><!-- /.listing-wrap -->
            </div><!-- /.col-lg-9 -->
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="widget widget_listing">
                        <h5 class="widget-title">Popular Listing</h5>
                        <ul>
                            <li>
                                <div class="featured">
                                    <a href="#" class="effect"><img src="images/flickr/7.jpg" alt="image"></a>
                                </div>
                                <div class="info-listing">
                                    <h6><a href="#">Lincoln Square Steak</a></h6>
                                    <div class="start-review">
                                        <span class="flat-start">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <a href="#" class="review">12 Reviews</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="featured">
                                    <a href="#" class="effect"><img src="images/flickr/8.jpg" alt="image"></a>
                                </div>
                                <div class="info-listing">
                                    <h6><a href="#">Top 10 French coffe </a></h6>
                                    <div class="start-review">
                                        <span class="flat-start">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <a href="#" class="review">7 Reviews</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="featured">
                                    <a href="#" class="effect"><img src="images/flickr/8.jpg" alt="image"></a>
                                </div>
                                <div class="info-listing">
                                    <h6><a href="#">Top 10 French coffe </a></h6>
                                    <div class="start-review">
                                        <span class="flat-start">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <a href="#" class="review">7 Reviews</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="featured">
                                    <a href="#" class="effect"><img src="images/flickr/8.jpg" alt="image"></a>
                                </div>
                                <div class="info-listing">
                                    <h6><a href="#">Top 10 French coffe </a></h6>
                                    <div class="start-review">
                                        <span class="flat-start">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <a href="#" class="review">7 Reviews</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class=" widget widget-form">
                        <form novalidate="" class="book-form clearfix" id="bookform" method="post" action="#">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <p class="book-notes">
                                <input type="text" placeholder="Your Name" name="author" required="">
                            </p>
                            <p class="book-form-email">
                                <input type="email" placeholder="E-mail" name="email" required="">
                            </p>
                            <p class="book-form-email">
                                <input type="email" placeholder="Telephone" name="phone" required="">
                            </p>
                            <p class="book-form-book">
                                <textarea class="" tabindex="4" placeholder="Message" name="book" required=""></textarea>
                            </p>
                            <p class="form-submit text-center">
                                <button class="book-submit effect-button">Book now</button>
                            </p>
                        </form>
                    </div>
                    <div class="widget widget-contact">
                        <h5 class="widget-title">Contact Us</h5>
                        <ul>
                            <li class="adress">PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                            <li class="phone">+61 3 8376 6284</li>
                            <li class="email">Yourplace@gmail.com</li>
                            <li class="time">
                                <span>Mon - Thur:</span> 8:00 am - 10:00 pm<br>
                                <span>Fri - Sat:</span> 10:00 am - 1:00 am<br>
                                <span>Sun: </span> 10:00 am - 10:00 pm
                            </li>
                        </ul>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="flat-row v1 bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-section">
                    <h1 class="title">Newsletter</h1>
                    <div class="sub-title">
                        Subscribe now and receive weekly newsletter with
                    </div>
                </div>
                <form id="subscribe-form" class="flat-mailchimp" method="post" action="#" data-mailchimp="true">
                    <div class="field clearfix" id="subscribe-content">
                        <p class="wrap-input-email">
                            <input type="text" tabindex="2" id="subscribe-email" name="subscribe-email" placeholder="Your Email Here">
                        </p>
                        <p class="wrap-btn">
                            <button type="button" id="subscribe-button" class=" subscribe-submit effect-button" title="Subscribe now">SUBSCRIBE</button>
                        </p>
                    </div>
                    <div id="subscribe-msg"></div>
                </form>
            </div>
            <div class="col-lg-2">
                <div class="flat-counter text-center">
                    <div class="content-counter">
                        <div class="icon-count">
                            <i class="ion-waterdrop"></i>
                        </div>
                        <div class="name-count">Listing</div>
                        <div class="numb-count" data-to="1897" data-speed="2000" data-waypoint-active="yes">1897</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="flat-counter text-center">
                    <div class="content-counter">
                        <div class="icon-count">
                            <i class="ion-pricetags"></i>
                        </div>
                        <div class="name-count">Categories</div>
                        <div class="numb-count" data-to="967" data-speed="2000" data-waypoint-active="yes">967</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="flat-counter text-center">
                    <div class="content-counter">
                        <div class="icon-count">
                            <i class="ion-ios-people"></i>
                        </div>
                        <div class="name-count">Users</div>
                        <div class="numb-count" data-to="1101" data-speed="2000" data-waypoint-active="yes">1101</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="javascript/jquery.min.js"></script>
<script src="javascript/tether.min.js"></script>
<script src="javascript/bootstrap.min.js"></script>
<script src="javascript/jquery.easing.js"></script>
<script src="javascript/jquery-waypoints.js"></script>
<script src="javascript/jquery-countTo.js"></script>
<script src="javascript/gmap3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUIc2-TTbn2IGJ4W0_0ePkv3xBvA_2sCM&region=GB"></script>
<script src="javascript/jquery.cookie.js"></script>
<script src="javascript/bootstrap-datetimepicker.js"></script>
<script src="javascript/bootstrap-datetimepicker.fr.js"></script>
<script src="javascript/jquery.flexslider-min.js"></script>

<script src="javascript/parallax.js"></script>
<script src="javascript/smoothscroll.js"></script>

<script src="javascript/main.js"></script>
