@model MVC.Models.HomeViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}


<section class="main-content page-listing-grid">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="flat-select clearfix">
                    <div class="float-left width50 clearfix">
                        <div class="one-three showing">
                            <p><span>@Model.Ilanlar.Count()</span> İlan Bulundu</p>
                        </div>
                        <div class="one-three more-filter">
                            <ul class="unstyled">
                                <li class="current">
                                    <a href="#" class="title">Daha Fazla <i class="fa fa-angle-right"></i></a>
                                    <ul class="unstyled">
                                        <li class="en">
                                            <input type="checkbox" id="auto" name="category">
                                            <label for="auto">Otomatik Vites</label>
                                        </li>
                                        <li class="en">
                                            <input type="checkbox" id="sunroof" name="category">
                                            <label for="sunroof">Cam Tavan</label>
                                        </li>

                                        <!-- Diğer filtreleme seçenekleri burada -->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="one-three sortby">
                            <ul class="unstyled">
                                <li class="current">
                                    <a href="#" class="title">Şuna göre sırala:<i class="fa fa-angle-right"></i></a>
                                    <ul class="unstyled">
                                        <li class="en"><a href="@Url.Action("Index", new { sortOrder = "asc" })" title=""><i class="fa fa-caret-right"></i>Artan Fiyat</a></li>
                                        <li class="en"><a href="@Url.Action("Index", new { sortOrder = "desc" })" title=""><i class="fa fa-caret-right"></i>Azalan Fiyat</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="flat-sort">
                            <a href="https://localhost:7123/Home" class="course-list-view active"><i class="fa fa-list"></i></a>
                            <a href="https://localhost:7123/home/List" class="course-grid-view "><i class="fa fa-th"></i></a>
                        </div>
                    </div>
                </div>
                <div class="listing-list">
                    <!-- Araç ilanlarını döngü ile listeleyin -->
                    @foreach (var ilan in Model.Ilanlar)
                    {
                        <div class="flat-product clearfix">
                            <div class="featured-product">
                                <img src="@ilan.imageUrl_S" alt="image">
                            </div>
                            <div class="rate-product">
                                <div class="link-review clearfix">
                                    <div class="button-product float-left">
                                        <button type="button" class="flat-button" onclick="location.href='https://localhost:7123/Home/Details'">Görüntüle</button>
                                    </div>
                                    <div class="start-review">
                                        <span class="flat-start">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <a href="#" class="review">(2 reviewers)</a>
                                    </div>
                                </div>
                                <div class="info-product">
                                    <h6 class="title"><a href="listing-single.html">@ilan.Baslik</a></h6>
                                    <p>@ilan.yer</p>
                                    <a href="#" class="heart">
                                        <i class="ion-android-favorite-outline"></i>
                                    </a>

                                    <h4> @String.Format("{0:N0}", ilan.fiyat) TL </h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="blog-pagination style2 text-center">
                    <ul class="flat-pagination clearfix">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next">
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class=" widget widget-form style2">
                        <h5 class="widget-title">
                            Filtrele
                        </h5>
                        <form novalidate="" class="filter-form clearfix" id="filter-form" method="get" action="@Url.Action("Index", "Home")">
                            <p class="book-notes">
                                <input type="text" placeholder="Başlık" name="Baslik" value="@Context.Request.Query["Baslik"]" />
                            </p>
                            <p class="book-form-select icon">
                                <select class="dropdown_sort" name="KaynakId">
                                    <option value="">Tüm Kaynaklar</option>
                                    <option value="1">Kaynak 1</option>
                                    <option value="2">Kaynak 2</option>
                                    <option value="3">Kaynak 3</option>
                                    <!-- Diğer kaynak seçenekleri burada -->
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </p>
                            <p class="book-form-select icon">
                                <input type="number" placeholder="Min Fiyat" name="MinFiyat" value="@Context.Request.Query["MinFiyat"]" />
                            </p>
                            <p class="book-form-select icon">
                                <input type="number" placeholder="Max Fiyat" name="MaxFiyat" value="@Context.Request.Query["MaxFiyat"]" />
                            </p>
                            <p class="book-form-select icon">
                                <input type="number" placeholder="Min Yıl" name="MinYil" value="@Context.Request.Query["MinYil"]" />
                            </p>
                            <p class="book-form-select icon">
                                <input type="number" placeholder="Max Yıl" name="MaxYil" value="@Context.Request.Query["MaxYil"]" />
                            </p>
                            <p class="book-form-select icon">
                                <select class="dropdown_sort" name="Renk">
                                    <option value="" selected>Tüm Renkler</option>
                                    <option value="Beyaz">Beyaz</option>
                                    <option value="Gri">Gri</option>
                                    <option value="Mavi">Mavi</option>
                                    <option value="Kırmızı">Kırmızı</option>
                                    <option value="Siyah">Siyah</option>
                                    <option value="Yeşil">Yeşil</option>
                                    <option value="Sarı">Sarı</option>
                                    <option value="Turuncu">Turuncu</option>
                                    <option value="Pembe">Pembe</option>
                                    <option value="Kahverengi">Kahverengi</option>
                                    <!-- Diğer kaynak seçenekleri burada -->
                                </select>                            </p>
                            <p class="form-submit text-center">
                                <button class="flat-button">Ara <i class="ion-ios-search-strong"></i></button>
                            </p>
                        </form>

                    </div>
                    <div class="widget widget-map">
                        <h5 class="widget-title">Map</h5>
                        <p>Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie.</p>
                        <div class="flat-maps">
                            <div class="maps" style="width: 100%; height: 359px; "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-row v1 bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-section">
                    <h1 class="title">Newsletter</h1>
                    <div class="sub-title">
                        Subscribe now and receive weekly newsletter with
                    </div>
                </div>
                <form id="subscribe-form" class="flat-mailchimp" method="post" action="#" data-mailchimp="true">
                    <div class="field clearfix" id="subscribe-content">
                        <p class="wrap-input-email">
                            <input type="text" tabindex="2" id="subscribe-email" name="subscribe-email" placeholder="Your Email Here">
                        </p>
                        <p class="wrap-btn">
                            <button type="button" id="subscribe-button" class=" subscribe-submit effect-button" title="Subscribe now">SUBSCRIBE</button>
                        </p>
                    </div>
                    <div id="subscribe-msg"></div>
                </form>
            </div>
            <div class="col-lg-2">
                <div class="flat-counter text-center">
                    <div class="content-counter">
                        <div class="icon-count">
                            <i class="ion-waterdrop"></i>
                        </div>
                        <div class="name-count">Listing</div>
                        <div class="numb-count" data-to="1897" data-speed="2000" data-waypoint-active="yes">1897</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="flat-counter style2 text-center">
                    <div class="content-counter">
                        <div class="icon-count">
                            <i class="ion-podium"></i>
                        </div>
                        <div class="name-count">Reservation</div>
                        <div class="numb-count" data-to="3568" data-speed="2000" data-waypoint-active="yes">3568</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="flat-counter style3 text-center">
                    <div class="content-counter">
                        <div class="icon-count">
                            <i class="ion-earth"></i>
                        </div>
                        <div class="name-count">User</div>
                        <div class="numb-count" data-to="13680" data-speed="2000" data-waypoint-active="yes">13680</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
